
.Featured{
    display: block;
    background-color: black;
    height: 100vh;
    
    background-image: url(../../Assets/hd-stranger-things-wallpaper-whatspaper-1.jpg);
    background-size: cover;

    
}

.gradient{
    height: 100%;
    width: 100%;
    background : linear-gradient(to right , black, rgb(239, 239, 239,0));
    position: absolute;
    z-index: 0;
}

.info{
    width: 40%;

    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%);

    display: flex;
    flex-direction: column;
}


.title > p:nth-child(1) {
    font-size: 19px;
    font-family: 'Hubballi', cursive;
    margin-bottom: -60px;
}

.title > p:nth-child(2) {
    font-size: 52px;
    font-family: 'Carter One', cursive;
    margin-bottom: -10px;
}

.extra-info{
    display: flex;
    flex-direction: row;
}

.match{
    color: rgb(71, 177, 71);
    font-weight: 600;
}

.extra-info > span:nth-child(2){
    color: rgb(170, 170, 170);
    font-weight: bold;
}

.extra-info > span:nth-child(3){
    color: rgb(170, 170, 170);

}

.extra-info > * {
    margin-right: 20px;
}

.btns{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


.Btn{

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    padding: 7px 22px;
    border-radius: 2px;
    border: none;
    outline: none;
    color: white;
    font-weight: 700;
    cursor: pointer;
    background-color: none;
}

.Btn > *{
    margin-right: 5px;
}

#Play{
    background-color: rgb(255, 85, 85);
    border: 2px solid rgb(255, 85, 85);
    margin-right: 20px;
}
#myList{
    background-color: rgb(1,1,1,0.0);
    border: 2px solid white;
}

.category{
    position: absolute;
    top: 35%;
    left: 5%;
    z-index: 1;

    font-size: 20px;

}

select{
    background-color: rgb(46, 46, 46);
    color: white;

    width: 120px;
    padding: 2px 4px;
    border: none;
    border-radius: 1px;
    outline: none;
    margin-left: 10px;
}
